<table>
  <caption>Distant Language Time to Fluency (hours per day)</caption>
  <thead>
    <tr>
      <th>Level</th>
      <th>Hours needed</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-3"><td>3</td><td>300</td><td>10 mo, 0 days</td><td>5 mo, 0 days</td><td>3 mo, 10 days</td><td>2 mo, 15 days</td><td>2 mo, 0 days</td><td>1 mo, 20 days</td></tr>
    <tr class="row-4"><td>4</td><td>600</td><td>1 yr, 7 mo, 25 days</td><td>10 mo, 0 days</td><td>6 mo, 20 days</td><td>5 mo, 0 days</td><td>4 mo, 0 days</td><td>3 mo, 10 days</td></tr>
    <tr class="row-5"><td>5</td><td>1200</td><td>3 yr, 3 mo, 15 days</td><td>1 yr, 7 mo, 25 days</td><td>1 yr, 1 mo, 5 days</td><td>10 mo, 0 days</td><td>8 mo, 0 days</td><td>6 mo, 20 days</td></tr>
    <tr class="row-6"><td>6</td><td>2000</td><td>5 yr, 5 mo, 25 days</td><td>2 yr, 9 mo, 0 days</td><td>1 yr, 10 mo, 2 days</td><td>1 yr, 4 mo, 15 days</td><td>1 yr, 1 mo, 5 days</td><td>11 mo, 3 days</td></tr>
    <tr class="row-7"><td>7</td><td>3000</td><td>8 yr, 2 mo, 20 days</td><td>4 yr, 1 mo, 10 days</td><td>2 yr, 9 mo, 0 days</td><td>2 yr, 20 days</td><td>1 yr, 7 mo, 25 days</td><td>1 yr, 4 mo, 15 days</td></tr>
  </tbody>
</table>
